html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
}

body {
    color: #23282d;
    background: #f1f1f1;
}

div, ul {
    box-sizing: border-box;
}

.content {
    width: 100%;
    padding: 10px;
}

.rss-feed {
    width: 100%;
    text-align: center;
}

.rss-feed > h1 {
    font-size: 30px;
    font-weight: normal;
}

.rss-feed .rss-feed-sections-container {
    display: inline-block;
    width: 100%;
    border: 2px solid #e5e5e5;
    border-top: 6px solid rgba(60,60,60,0.9);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background: #fff;
}

.rss-feed .rss-feed-section {
    float: left;
    width: 25%;
    height: 400px;
    padding: 5px;
    background: #fff;
    border-right: 2px solid #e5e5e5;
}

.rss-feed .rss-feed-section:last-child {
    border-right: none;
}

.rss-feed .rss-channel-list > ul {
    width: 100%;
    height: 346px;
    margin: 10px 0 0 0;
    padding: 0;
    list-style: none;
    border-top: 2px solid #e5e5e5;
    overflow-y: scroll;
}

ul.styled-list > li {
    margin: 5px 5px 5px 0;
}

ul.styled-list > li > a {
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 8px 0;
    color: #000;
    text-decoration: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
}


ul.styled-list > li > a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 4px;
    background: rgb(7, 63, 137);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
}


ul.styled-list > li > a:hover::after,
ul.styled-list > li > a:focus::after,
ul.styled-list > li.selected > a::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

ul.styled-list > li > a:active,
ul.styled-list > li.selected > a {
    background: rgb(90, 90, 90);
    color: #fff;
}


.rss-feed .rss-channel-list .channelForm {
    margin: 5px 0;
}

.rss-feed .rss-channel-list .channelForm > input[type="text"] {
    width: calc(55% - 10px);
    margin: 0 5px;
    padding: 5px;
}

.rss-feed .rss-channel-list .channelForm > input[type="submit"] {
    width: calc(25% - 10px);
    margin: 0 5px;
    padding: 5px;
    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-shadow: 0 -1px 1px #006799,1px 0 1px #006799,0 1px 1px #006799,-1px 0 1px #006799;
    cursor: pointer;
}

.rss-feed .rss-channel-list .channelForm > .channel-count {
    float: right;
    width: calc(10% - 10px);
    margin: 0 5px;
    padding: 5px;
    border: 1px solid #0073aa;
    font-weight: bold;
}

.rss-feed .rss-feed-item-list > h2 {
    height: 29px;
    margin: 5px 0;
    font-size: 16px;
    font-weight: normal;
}

.rss-feed .rss-feed-item-list > h2 > span {
    vertical-align: -webkit-baseline-middle;
}

.rss-feed .rss-feed-item-list > ul {
    width: 100%;
    height: calc(100% - 29px - 10px - 5px);
    margin: 10px 0 0 0;
    padding: 0;
    list-style: none;
    overflow-y: scroll;
    border-top: 2px solid #e5e5e5;
}

.rss-feed .rss-feed-item-list > h2 {
    white-space: nowrap;
    overflow: hidden;
}

.rss-feed .rss-feed-item-list > h2 > .link {
    display: inline-block;
    width: 65%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rss-feed .rss-feed-item-list > h2 > .feeds-count {
    float: right;
    width: calc(10% - 10px);
    margin: 0 5px;
    padding: 4px;
    border: 1px solid #0073aa;
    font-weight: bold;
}

.rss-feed .rss-feed-item-content {
    padding-bottom: 5px;
}

.rss-feed .rss-feed-item-content > .overflow-wrapper {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.rss-feed .rss-feed-item-content .overflow-wrapper > h2 {
    margin: 0;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
}

.rss-feed .rss-feed-item-content .overflow-wrapper * {
    max-width: 100%;
}

.rss-feed .rss-feed-item-diagram {
    padding-bottom: 5px;
}

.rss-feed .rss-feed-item-diagram > .overflow-wrapper {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}